<%- include("partials/header") %>
    <%# contenu spécifique à la page %>
        <main>
            <h2>Bienvenue <%= locals.user %> sur le trombinoscope de l'école O'clock</h2>


        </main>

        <%- include("partials/footer") %>