<%- include('partials/header') %>

    <h1>Mais où etes vous ?</h1>
<link rel="stylesheet" href="/css/error404.css">
<img id="chemin__image" src="/images/chemin.jpg" alt="image inutile pour les non voyant">
</body>
</html>