

<!-- https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Operators/Optional_chaining -->
<% if(locals.selectedGame?.jsFile){ %>
  <script src="/js/<%= locals.selectedGame.jsFile %>"></script>
<% } %>

</body>
</html>